<?xml version="1.0" encoding="utf-8"?><!--
  ~ /**
  ~  * Created by Shivam Tiwari on 20/05/23, 3:30 AM
  ~  * Copyright (c) 2023 . All rights reserved.
  ~  * Last modified 20/05/23, 3:25 AM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qamp.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name="com.qamp.app.MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/qamp_mini_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/qamp_mini_logo"
        android:supportsRtl="false"
        android:taskAffinity=".string"
        android:theme="@style/Qamp"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup , android:supportsRtl">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="GOOGLE_MAP_KEY" />


        <activity
            android:name="com.qamp.app.Activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:supportsRtl="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Activity.OnBoardingScreens"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.OnBoardingUserProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--        <activity-->
        <!--            android:name=".qampCalls.QampDefaultCallActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->


        <!--        <activity-->
        <!--            android:name=".qampCalls.QampCallActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".qampcallss.api.p000ui.QampCallsActivity"
            />


        <activity
            android:name="com.qamp.app.Activity.ShowProfileActivity"
            android:screenOrientation="portrait"
            android:supportsRtl="false"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".Activity.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.WelcomeOnboarding"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.LoginQampActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.qamp.app.Activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name="com.qamp.app.Receiver.AutoStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="com.qamp.app.restart"></action>
            </intent-filter>
        </receiver>

        <receiver

            android:name=".qampcallss.api.MesiboCallsReceiver">
        </receiver>

        <!-- Firebase Notifications-->
        <!--        <service-->
        <!--            android:name="com.qamp.app.Services.MesiboGcmListenerService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <service-->
        <!--            android:name="com.qamp.app.Services.MesiboInstanceIDListenerService"-->
        <!--            android:exported="false">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.android.gms.iid.InstanceID" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->
        <!--        <service-->
        <!--            android:name="com.qamp.app.Services.MesiboRegistrationIntentService"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!--        <service-->
        <!--            android:name="com.qamp.app.Services.MesiboJobIntentService"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <activity
            android:name="com.qamp.app.Activity.ProductTourActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".qampcallss.api.p000ui.MesiboDefaultCallActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.qamp.app.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.Activity.LoginActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.MesiboUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.MesiboEndToEndEncryptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.MesiboMessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.MesiboMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.CreateNewGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qamp.app.MessagingModule.MesiboUserListActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ShowProfileActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditProfileActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ZoomPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NotificationsTest"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.AddChannelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.CommunityDashboard"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Activity.AddPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.NotificationCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.StartUpActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Activity.ChannelAdminSettingsActivity"
            android:screenOrientation="portrait" />

        <!--        <service-->
        <!--            android:name=".java.MyFirebaseMessagingService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.MessagingModule.default_notification_icon"-->
        <!--            android:resource="@drawable/ic_logo_gradient" />-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.MessagingModule.default_notification_color"-->
        <!--            android:resource="@color/colorPrimary" />-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.MessagingModule.default_notification_channel_id"-->
        <!--            android:value="@string/default_notification_channel_id" />-->

        <service
            android:name=".Services.PushNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
